* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  padding: 1rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 5px;
  background-color: aliceblue;
  border: 1px solid rgb(198, 187, 187);
}

.list-container:nth-child(2n + 1) {
  background-color: lightblue;
}

.page-nav-container {
  display: flex;
  margin: 1rem 0px;
  justify-content: center;
}

.page-nav-container button {
  padding: 5px 6px;
  cursor: pointer;
  border: 1px solid rgb(211, 200, 200);
}
.page-nav-container button:nth-child(2) {
  padding: 5px 12px;
}

.page-nav-container button:hover {
  background-color: rgb(199, 213, 226);
}

.loading-div {
  width: 100%;
  text-align: center;
}
